# Configuración de Base de Datos para Producción (TiDB / MySQL)
DB_HOST=gateway01-privatelink.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USERNAME=35KnDVzHdH1exok.root
DB_PASSWORD=tu_password_aqui
DB_DATABASE=gustos_db

# Seguridad de Django
SECRET_KEY=tu_secret_key_largo_y_seguro
DEBUG=False
ALLOWED_HOSTS=midominio.com,localhost,127.0.0.1
