DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:4321
MYSQL_DATABASE=gustos_sabores
MYSQL_USER=gustos_user
MYSQL_PASSWORD=gustos_pass
MYSQL_HOST=mysql
MYSQL_PORT=3306
FRONTEND_PUBLIC_API_URL=http://localhost:8000/api
